.Loading {
    position: fixed;
    padding: 15px 55px 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000000000;
}
.AppWrapper {
    padding: 25px 45px;
    box-sizing: border-box;
    height: 100vh;

    @media only screen and (min-width: 1366px) {
        padding-left: 15vw;
        padding-right: 15vw; 
    }
}